<div class="form-common__input-container">
  <label for={{id}} class="form-common__label">{{label}}</label>

  {{!-- <input
  class="form-input {{#if propClass}}{{propClass}}{{/if}}"
  type={{type}}
  name={{name}}
  id={{id}}
  pattern="{{pattern}}"
  value="{{value}}"
  placeholder="{{placeholder}}"
  autocomplete="off"
  required
/> --}}

{{!-- {{{FormInput
            propClass="../inputClass"
            ref="forminput"
            type=this.type
            name=this.name
            id=this.id
            pattern=this.pattern
          }}} --}}

          {{{FormInput
          
         
          }}}

<p class="form-common__input-error {{#if propClass}}{{propClass}}{{/if}}" id="{{id}}-error-message">{{errorText}}</p>

    {{{ButtonCommon}}}

</div>
