<div class="chat-container">
  {{{modalCreateNewChat}}}
  {{{modalAddUserToChat}}}
  {{{modalRemoveUserFromChat}}}
  {{{modalChangeChatAvatar}}}

  <aside class="chat-sidebar">
    <div class="chat-link-profile">
      <span class="link-profile" href="#">
        {{{linkProfile}}}
        <img
          class="link-profile__icon"
          src="/icons/icon-chevron.svg"
          alt="user profile"
        />
      </span>
    </div>

    {{!-- <form class="search-form">
      <label class="search-form__label" for="search">
        <img
          class="search-form__icon"
          src="/icons/icon-search.svg"
          alt="search"
        />
      </label>

      {{{searchInput}}}
    </form> --}}

    {{{buttonCreateNewChat}}}

    {{{chatsList}}}
  </aside>

  <div class="chat-body">
    {{{chatHeader}}}

    {{{messenger}}}

    {{{chatFooter}}}
  </div>
</div>
