<div class="chat-container">
  {{{modalCreateNewChat}}}
  {{{modalAddUserToChat}}}
  {{{modalRemoveUserFromChat}}}
  {{{modalChangeChatAvatar}}}

  <aside class="chat-sidebar">
    <div class="chat-link-profile">
      <a class="link-profile" href="#">
        <p>Профиль</p>
        <img
          class="link-profile__icon"
          src="/icons/icon-chevron.svg"
          alt="user profile"
        />
      </a>
    </div>

    {{!-- <form class="search-form">
      <label class="search-form__label" for="search">
        <img
          class="search-form__icon"
          src="/icons/icon-search.svg"
          alt="search"
        />
      </label>

      {{{searchInput}}}
    </form> --}}

    {{{buttonCreateNewChat}}}

    {{{chatsList}}}
  </aside>

  <div class="chat-body">
    {{{chatHeader}}}

    {{{messenger}}}

    {{!-- <footer class="chat-footer">
      <form class="send-message-form">
        {{{sendMessageInput}}}

        {{{buttonSendMessage}}}
      </form>
    </footer> --}}
  </div>
</div>
