<div class="settings-form__input-container">
  <label for={{id}} class="settings-form__label">{{label}}</label>
  <input
    class="settings-form__input"
    type={{type}}
    name={{id}}
    id={{id}}
    value={{value}}
    required
  />
</div>