<div>
    <h1>Home pagee</h1>
    {{!-- {{#Card}} --}}
        {{!-- {{{Button ref="button" label=buttonLabel onClick=onButtonClick}}} --}}
        {{!-- {{{Button ref="button" type=type label=label onClick=onButtonClick}}} --}}
        {{{Button ref="button" type=type label=label onClick=this.onClick}}}
        {{{Button ref="button" type=type label="hardcoded label" onClick=this.onClick}}}
        {{{Button ref="button" type=this.customButton.type label=this.customButton.label onClick=this.customButton.onClick}}}


        {{#each buttons}}
            {{{Button label=this.label type=../type onClick=this.onClick}}}
        {{/each}}

        {{#each buttons}}
            {{{Button label=this.label type=this.type onClick=this.onClick}}}
        {{/each}}
    {{!-- {{/Card}} --}}
</div>
