<div class="form-common__input-container">
  <label for={{id}} class="form-common__label">{{label}}</label>
  <input
    class="form-common__input"
    type={{type}}
    name={{id}}
    id={{id}}
    required
  />
</div>