<div class="chat-messages">
  {{#if selectedChat}}
    {{#each messages}}
      {{{this}}}
    {{/each}}
    <div class="{{styles.messenger__footer}}">
      {{{input}}}
      {{{button}}}
    </div>
  {{else}}
    Выберите чат
  {{/if}}
</div>
